.breadcrumb {

	h1 {
		font-size: 5.34rem;
		font-weight: 700;
		padding-bottom: 1.7rem;

		@include respond-to('desktop') {
			font-size: 4.6rem;
		}

		@include respond-to('tablet') {
			font-size: 3rem;
		}

		@include respond-to('mobile') {
			font-size: 2.4rem;
		}

		@include respond-to('small-mobile') {
			font-size: 1.5rem;
		}
	}

	p {
		font-size: 2.03rem;
		width: 50%;
		padding-bottom: 1.7rem;
		line-height: 1.4;
		margin-bottom: 1.6rem;

		@include respond-to('desktop') {
			font-size: 2rem;
		}

		@include respond-to('tablet') {
			width: 100%;
			font-size: 1.7rem;
		}

		@include respond-to('mobile') {
			font-size: 1.5rem;
		}

		@include respond-to('small-mobile') {
			font-size: 1.3rem;
		}
	}
}