.footer {
	flex-shrink: 0;
	margin-top: 10rem;
	margin-bottom: 5rem;
	font-size: 1.6rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	&-copyright {

		@include respond-to('mobile') {
			text-align: center;
			font-size: 1.4rem;
		}

		@include respond-to('tablet') {
			margin-bottom: 1rem;
			padding-bottom: 1rem;
			border-bottom: 1px solid #eee;
		}
	}

	&-social {
		display: flex;
		justify-content: space-between;
		align-items: center;

		div:not(:last-child) {
			margin-right: 1rem;
		}

		@include respond-to('tablet') {
			flex-direction: column;
			font-size: 1.5rem;
		}
		
		@include respond-to('mobile') {
			flex-direction: column;
			font-size: 1.4rem;
		}
	}

	@include respond-to('tablet') {
		flex-direction: column;
	}
}