.navigation {
  display: none;
  @include respond-to('tablet') {
    display: block;
  }
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: $shadow-lg-green;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to("tablet") {
      top: 4rem;
      right: 4rem;
    }

    @include respond-to("mobile") {
      top: 3rem;
      right: 3rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($primary, $secondary);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);


    @include respond-to("tablet") {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond-to("mobile") {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    position: relative;
    transition: all 0.5s cubic-bezier(.55, 0, .1, 1);

    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $white;
      text-decoration: none;
      text-transform: lowercase;
      transition: all .4s;

      span {
        margin-right: 1.5rem;
        border-right: 1px solid $white;
        padding-right: 1.5rem;
        display: inline-block;
      }
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
    }

    &:hover,
    &:active {
      color: $white;
      transform: translateX(1rem);
      background: rgba(197, 255, 182, 0.3);
    }

    &:hover::after {
      width: 100%;
      height: 2px;
      box-shadow: 0 1px rgba(255, 255, 255, 0.6);
      margin-top: -1.7rem;
      background: $white;
      transform-origin: center left;
      animation: strikethrough 1s 0.5s cubic-bezier(.55, 0, .1, 1) 1;
      transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
    }
  }


  &__checkbox:checked~&__background {
    transform: scale(80);
  }

  &__checkbox:checked~&__nav {
    opacity: 1;
    width: 100%;
  }

  // ICON
  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $primary;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;

    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked+&__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked+&__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked+&__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}