.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 3%;
  position: relative;
  @include respond-to('tablet') {
    display: none;
  }

  &__logo {
    font-size: 2.3rem;
  }

  &__menu {
    ul {
      display: flex;
    }

    li {
      margin-right: 2rem;

      a {
        font-size: 2rem;

        &:hover,
        &:active {
          color: $primary;
          border-bottom: 2px solid $primary;
        }
      }

      a.active {
        color: $primary;
        border-bottom: 2px solid $primary;
      }
    }
  }
}