*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  min-height: 100vh;
}

body {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.wrapper {
  @include wrapper;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}

.content {
  width: 100%;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .content {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .content {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .content {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .content {
    max-width: 1140px;
  }
}

::selection { 
  color: $white;
  background: $primary;
}

ul {
  list-style: none;
}

button,
a,
svg {
  cursor: pointer;
}