//! import google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700&display=swap');
// OR use @font-face like below

//! import a custom font below
// @font-face {
//   font-family: 'Libre-Baskerville-Reg';
//   font-display: fallback;
//   font-style: normal;
//   src:
//     local('Libre Baskerville'), /* Checks if font is on users computer */
//     local('LibreBaskerville-Regular'), /* Checks if font is on users computer */
//     url('fonts/libre-baskerville-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
//     url('fonts/libre-baskerville-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

//! set font variables
$font-nunito: 'Nunito', sans-serif;


html {
  font-size: 62.5%; // 1rem = 10px, 3.5rem = 35px;
  
  @include respond-to(desktop) { // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond-to(tablet) { // width < 900?
    font-size: 50%; //1 rem = 9px, 8/16 = 50%
  }

  @include respond-to(mobile) { // width < 900?
    font-size: 40%; //1 rem = 9px, 8/16 = 50%
  }

  @include respond-to(wrapper) {
    font-size: 75%; //1 rem = 12px, 12/16 = 50%
  }
}

body {
  font-family: $font-nunito;
  font-weight: 400;
  font-size: 1rem;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

p {
  font-family: $font-nunito;
  font-weight: 300;
  transition: all 1s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-nunito;
  font-weight: 600;
}

button {
    font-family: $font-nunito;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}

svg {
	margin-right: 3px;
}