.main-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  button {
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 1.2rem;
    margin-bottom: 2rem;
    border: 1px solid $primary;
    color: $primary;
  }
}