.main-blog-detail {

  h3 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;

    @include respond-to('desktop') {
      font-size: 3rem;
    }
    
    @include respond-to('tablet') {
      font-size: 2rem;
    }
    
    @include respond-to('mobile') {
      font-size: 1.8rem;
    }
  }

  &__img {

    img {
      max-height: 60rem;
      width: 100%;
    }
  }

  &__featured {
    margin: 2rem 0;
    background-color: #f5f5f5;
    padding: 1.2rem;
    font-size: 1.3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to('mobile') {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__item {
      
      @include respond-to('mobile') {
        margin-bottom: 10px;
      }
    }
  }

  &__content {
    margin-bottom: 2rem;

    p {
      text-align: justify;
      margin-bottom: 1.2rem;
      font-size: 1.7rem;
      line-height: 2.4rem;

      @include respond-to('desktop') {
        font-size: 1.6rem;
      }
      
      @include respond-to('tablet') {
        font-size: 1.5rem;
      }
      
      @include respond-to('mobile') {
        font-size: 1.4rem;
      }
    }
  }

  &__back {
    text-align: center;
    a {
      font-size: 1.9rem;

      @include respond-to('desktop') {
        font-size: 1.6rem;
      }
      
      @include respond-to('tablet') {
        font-size: 1.5rem;
        margin-bottom: 3rem;
      }
      
      @include respond-to('mobile') {
        font-size: 1.4rem;
      }

      &:hover {
        padding-bottom: .5rem;
        border-bottom: 2px solid $primary;
      }
    }

    svg {
      color: $primary;
    }
  }
}

.share {
  position: sticky;
  top: 9rem;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  h3 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }

  div {
    margin-bottom: 1rem;
    font-size: 2rem;

    svg {
      margin-right: 0;
    }
  }
}