.main-blog {
  @include card1;

  &__content {
    padding: 2rem;

    &__date {
      margin-top: 1.2rem;
      margin-bottom: 1rem;

      span {
        font-size: 1.4rem;
        color: #222222;
        display: flex;
        justify-content: center;
        align-items: center;

        @include respond-to('desktop') {
          font-size: 1.3rem;
        }
        
        @include respond-to('tablet') {
          font-size: 1.2rem;
        }
        
        @include respond-to('mobile') {
          font-size: 1.1rem;
        }
        
        @include respond-to('small-mobile') {
          font-size: .8rem;
        }

        svg {
          margin-right: 7px;
        }
      }
    }

    &__title {

      h3 {
        position: relative;
        font-size: 1.8rem;
        margin-bottom: 1rem;
        font-weight: 600;
        text-align: center;

        @include respond-to('desktop') {
          font-size: 1.6rem;
        }
        
        @include respond-to('tablet') {
          font-size: 1.5rem;
        }
        
        @include respond-to('mobile') {
          font-size: 1.4rem;
        }

        @include respond-to('small-mobile') {
          font-size: 1.3rem;
        }

        &:hover {
          color: $primary;
        }
      }
    }

    &__bottom {
      margin-top: 25px;
      padding-top: 20px;
      border-top: 1px solid #ebebeb;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      span {
        font-size: 1.4rem;

        @include respond-to('desktop') {
          font-size: 1.3rem;
        }
        
        @include respond-to('tablet') {
          font-size: 1.2rem;
        }
        
        @include respond-to('mobile') {
          font-size: 1rem;
        }
        
        @include respond-to('small-mobile') {
          font-size: .8rem;
        }
      }
    }
  }
}

.main-blog {
  margin-right: 1.5rem;
}