.main-contact {
	h3 {
		font-size: 3rem;
		margin-bottom: 3rem;
		color: $primary;
		text-align: center;

		@include respond-to('desktop') {
			font-size: 2.7rem;
		}

		@include respond-to('tablet') {
			font-size: 2.6rem;
		}
		
		@include respond-to('mobile') {
			font-size: 2.5rem;
		}
	}

	p {
		font-size: 1.9rem;
		margin-bottom: 1.7rem;
		text-align: justify;

		@include respond-to('desktop') {
			font-size: 1.7rem;
		}
		
		@include respond-to('tablet') {
			font-size: 1.6rem;
		}
		
		@include respond-to('mobile') {
			font-size: 1.5rem;
		}
	}

	&-email,
	&-telegram,
	&-whatsapp {
		@include contact;

		svg {
			font-size: 4rem;
		}

		a {
			font-size: 2rem;

			@include respond-to('desktop') {
				font-size: 1.6rem;
			}
			
			@include respond-to('tablet') {
				font-size: 1.5rem;
			}
			
			@include respond-to('mobile') {
				font-size: 1.4rem;
			}
		}
	}

	&-email {

		svg,
		a:hover {
			color: #D44638;
		}

		border: 1px solid #D44638;

		&:hover {
			box-shadow: $shadow-contact-email;
		}
	}

	&-telegram {

		svg,
		a:hover {
			color: #0088cc;
		}

		border: 1px solid #0088cc;

		&:hover {
			box-shadow: $shadow-contact-telegram;
		}
	}

	&-whatsapp {

		svg,
		a:hover {
			color: #25D366;
		}

		border: 1px solid #25D366;

		&:hover {
			box-shadow: $shadow-contact-whatsapp;
		}
	}
}
































