.main-index {
  padding: 12rem 0rem;
  background-color: $white;
  background-image: linear-gradient(to right top, $white,#2aae621f);

  &-welcome {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;

    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h3 {
        font-size: 6rem;
        margin-bottom: 4rem;
        @include respond-to('tablet') {
          font-size: 3rem;
        }

        span {
          color: $primary;
        }
      }

      h5 {
        font-size: 1.6rem;
        font-weight: 600;
        display: inline-block;
        position: relative;
        @include respond-to('tablet') {
          font-size: 1.4rem;
        }

        &::before,
        &::after {
          position: absolute;
          height: .4rem;
          content: "";
          display: inline-block;
          background: $secondary;
          top: 2.5rem;
          @include respond-to('tablet') {
            top: 1.7rem;
          }
        }

        &::before {
          width: 3rem;
          right: 2rem;
        }

        &::after {
          width: 1rem;
          right: 0;
        }
      }

      a {
        padding: 1.2rem;
        font-size: 1.9rem;
        background-color: transparent;
        color: $primary;
        font-weight: 600;
        border: 1px solid $secondary;
        border-radius: 5rem;
        min-width: 14rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond-to('tablet') {
          min-width: 0;
          font-size: 1.4rem;
          padding: 1rem;
        }

        @include respond-to('mobile') {
          font-size: 1.2rem;
        }

        &:hover {
          color: $white;
          background: $primary;
          transition: all .5s ease-in-out;
        }
      }
    }
  }
}

.main-work {
  margin: 3rem 0;

  &-title {
    margin-bottom: 5rem;

      h3 {
        font-size: 4rem;
        margin-bottom: .5rem;
        @include respond-to('tablet') {
          font-size: 2.4rem;
        }
      }

      p {
        font-size: 2rem;
        margin-bottom: 3rem;
        @include respond-to('tablet') {
          font-size: 1.5rem;
        }
      }
    }

  &-project {
    border: 2px solid $grey-light-2;
    padding: 3rem;
    position: relative;
    border-radius: .5rem;
    margin-bottom: 3rem;
    backface-visibility: hidden;
    transition: all .3s ease;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to('tablet') {
      flex-direction: column;
    }

    &__title {
      margin-right: 2rem;

      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        h4 {
          font-size: 3rem;
          margin-bottom: 1rem;
          @include respond-to('mobile') {
            font-size: 2rem;
          }
        }
      }

      span {
        font-size: 2rem;
        margin-bottom: 1rem;
        @include respond-to('mobile') {
          font-size: 1.7rem;
        }
      }

      p {
        font-size: 2rem;
        margin-bottom: 3rem;
        @include respond-to('tablet') {
          font-size: 1.5rem;
        }
      }
    }

    &__img {
      max-width: 40rem;
      max-height: 40rem;
      filter: grayscale(1);
      backface-visibility: hidden;
      transition: all .8s ease-in-out;
    }

    &:hover .main-work-project__img {
      filter: none;
    }

    &:hover .main-work-project__title {

      a {
        color: $primary;
      }
    }

    &:hover {
      border: 1px solid $primary;
      box-shadow: $shadow-outline;
      transition: all .5s ease-in-out;
    }
  }
}