.main-me {
	h3 {
		font-size: 3rem;
		margin-bottom: 3rem;
		color: $primary;
		text-align: center;

		@include respond-to('desktop') {
			font-size: 2.7rem;
		}

		@include respond-to('tablet') {
			font-size: 2.6rem;
		}

		@include respond-to('mobile') {
			font-size: 2.5rem;
		}
	}

	h4 {
		font-size: 2rem;
		color: $secondary;
		opacity: .5;
		text-align: center;

		@include respond-to('desktop') {
			font-size: 1.6rem;
		}

		@include respond-to('tablet') {
			font-size: 1.5rem;
		}

		@include respond-to('mobile') {
			font-size: 1.4rem;
		}
	}

	p {
		font-size: 1.9rem;
		margin-bottom: 1.7rem;

		@include respond-to('desktop') {
			font-size: 1.7rem;
		}

		@include respond-to('tablet') {
			font-size: 1.6rem;
		}

		@include respond-to('mobile') {
			font-size: 1.5rem;
		}
	}

	ul {

		li {
			font-size: 1.6rem;
			margin-bottom: 1rem;

			svg {
				margin-right: 1rem;
				color: $primary;
			}
		}
	}

	&__bg {
		padding: 8rem 0;

		&--white {
			background-color: #fff;
		}

		&--darker {
			background-color: #fbfafa;
		}
	}

	&-wrapper {
		margin-bottom: 6rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include respond-to('desktop') {
			margin-bottom: 5.4rem
		}

		@include respond-to('tablet') {
			margin-bottom: 1.5rem;
		}

		@include respond-to('mobile') {
			margin-bottom: 1rem;
		}
	}
}

span {
	font-weight: 700;
	cursor: pointer;

	&.react {
		color: #61dafb;
	}

	&.gatsby {
		color: #663399;
	}

	&.graphql {
		color: #E10098;
	}

	&.webpack {
		color: #8dd6f9;
	}
}