.main-work-detail {

  &__img {
    width: 100%;
    margin-bottom: 3rem;
  }

  &__features {

    &__title {
      font-size: 1.3rem;
      color: $grey-dark;
      text-transform: uppercase;
      margin-bottom: .8rem;
      text-align: center;

      @include respond-to('mobile') {
        font-size: .7rem;
      }

      @include respond-to('tablet') {
        font-size: .9rem;
      }
    }

    &__info {
      font-size: 1.7rem;
      margin-bottom: 1rem;
      text-align: center;

      @include respond-to('mobile') {
        font-size: 1.2rem;
      }

      @include respond-to('tablet') {
        font-size: 1.3rem;
      }

      a {

        &:hover {
          color: $primary;
          padding-bottom: .3rem;
          border-bottom: .2rem solid $primary;
        }
      }
    }
  }

  &__content {
    img {
      margin: 1rem .4rem;
    }
  }
}