/* MEDIA QUERIES */
@mixin respond-to($breakpoint) {
  @if $breakpoint=="small-mobile" {
    @media (max-width: 342px) {
      @content;
    }
  }

  @else if $breakpoint=="mobile" {
    @media (max-width: 480px) {
      @content;
    }
  }

  @else if $breakpoint=="tablet" {
    @media (max-width: 769px) {
      @content;
    }
  }

  @else if $breakpoint=="desktop" {
    @media (max-width: 969px) {
      @content;
    }
  }

  @else if $breakpoint=="wrapper" {
    @media (max-width: 1170px) {
      @content;
    }
  }

  @else {
    @media ($breakpoint) {
      @content;
    }
  }
}

//! Example usage
/* @include respond-to('mobile') {} */


/* CENTERING */
@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin card1 {
  background-color: #fff;
  border-radius: 1.2rem;
  box-shadow: $shadow-md;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transition: box-shadow, transform .3s ease-in-out;

  &:hover {
    transform: translateY(-10px);
    box-shadow: $shadow-xl;
  }
}

@mixin contact {
  background-color: #fff;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: .5rem;
}

@mixin circlebutton {
  height: 20rem;
  width: 20rem;
  padding: .3rem;
}

@mixin wrapper {
  margin-top: 13rem;
  flex: 1 0 auto;
}