//? set your brand colors

$white: #fff;
$black: #000;

$light-grey: #fafafa;
$grey: #d7d7d7;

$grey-light-1: #f7f7f7;
$grey-light-2: #eee;
$grey-light-3: #333;
$grey-light-3: #e6e6e6;

$grey-dark: #777;
$grey-dark-2: #999;

$black-soft: #444;

//? override for project clarity
$primary: #2AAE62;
$secondary: #009C77;

$candidate1: rgba(215, 255, 241, 1);
$candidate2: rgba(170, 252, 184, 1);
$candidate3: rgba(140, 215, 144, 1);
$candidate4: rgba(255, 253, 130, 1);
$candidate5: rgba(255, 155, 113, 1);


$shadow:	0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-md:	0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg:	0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-lg-green:	0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(41, 172, 96, 0.84);
$shadow-xl:	0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow-xl-green:	0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px hsla(145, 61%, 42%, 0.84);
$shadow-2xl:	0 25px 50px -12px rgba(0, 0, 0, 0.25);
$shadow-inner:	inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
$shadow-outline:	0 0 0 3px rgba(41, 172, 96, 0.84);
$shadow-none:	none;
$shadow-contact-email: 0px 15px 30px 0px rgba(212, 70, 56, .15);
$shadow-contact-telegram: 0px 15px 30px 0px rgba(0, 136, 204, .15);
$shadow-contact-whatsapp: 0px 15px 30px 0px rgba(37, 212, 101, 0.15);